@font-face {
	font-family: badfont;
	src: url(font/Jala.ttf);
}

* {
	font-family: badfont;
	font-size: 1.5rem;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	overflow: hidden;
	background-image: linear-gradient(
		to bottom right,
		green,
		red,
		yellow,
		blue,
		purple
	);
}

form {
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;
}

.username {
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 10vh;
	left: 3vw;
	transform: rotate(30deg);
}

.pwlen {
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 40vh;
	left: 25vw;
	transform: rotate(110deg);
}

.choices .lowercase {
	position: absolute;
	top: 15vh;
	left: 80vw;
	transform: rotate(210deg);
}
.choices .uppercase {
	position: absolute;
	top: 20vh;
	left: 85vw;
	transform: rotate(300deg);
}
.choices .digits {
	position: absolute;
	top: 25vh;
	left: 80vw;
	transform: rotate(30deg);
}
.choices .specials {
	position: absolute;
	top: 20vh;
	left: 75vw;
	transform: rotate(120deg);
}

button.submit {
	font-size: 10rem;
	position: absolute;
	bottom: 2rem;
	right: 2rem;
	transition: 1s;
}

button.submit:hover {
	/* transform: skew(0, 360deg); */
	transform: scale(0.1);
}

#password-text {
	color: white;
	text-shadow: 10px 10px 5px #ff0000, -10px -10px 5px #0000ff;
	font-size: 6rem;
	z-index: 1;
	/* transform: rotate(-15deg); */
}

button.copy {
	font-size: 2rem;
	border-radius: 20%;
	position: absolute;
	bottom: 5rem;
	right: 20rem;
	z-index: 10;
	transition: 1s;
	transform: rotate(45deg);
}

button.copy:hover {
	/* transform: skew(0, 360deg); */
	transform: scale(10);
}
